.DS_Store
dist/
.output/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.astro
.DS_Store
_site
.sass-cache
.jekyll-metadata
_site/
.sass-cache/
.jekyll-cache/
tmp/
AGENTS.md
old*
.agents/*
node_modules/
designs/