@import 'tailwindcss';
@config "../../tailwind.config.mjs";

html,
body {
  font-family: 'Cardo', serif;
}

.jost {
  font-family: 'Jost', sans-serif;
}

.article-prose {
  line-height: 2;
  font-size: 1.25rem;
  color: rgb(17, 24, 39);
  text-align: justify;
}

.article-prose p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.article-prose h2 {
  font-size: 1.75rem;
  font-weight: 600;
  font-family: 'Cardo', serif;
  line-height: 2;
  margin-bottom: 1rem;
}

.article-prose h3 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Cardo', serif;
  line-height: 1.75;
  margin-bottom: 0.5rem;
}

.article-prose strong {
  font-weight: 600;
}

.article-prose ul {
  list-style-type: disc;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.article-prose ol {
  list-style-type: decimal;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.article-prose p > img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 0.5rem;
}
