---
layout: default
---

<!--
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <main class="content" aria-label="Content">
    {{ content }}
  </main>

  {% include footer.html %}

  <script src="{{ site.baseurl }}/assets/js/vendors/jquery-3.3.1.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendors/aos.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendors/jquery.fitvids.js"></script>
  <script src="{{ site.baseurl }}/assets/js/common.js"></script>
</body>

</html>-->

<div class="container">
  <!-- begin page -->
  <article class="page">

    <div class="page__head" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
      <h1 class="page__title">{{ page.title | escape }}</h1>
      {% if page.image %}
      <div class="page-image" style="background-image: url({{site.baseurl}}{{page.image}})"></div>
      {% endif %}
    </div>

    <div class="page__content" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-delay="100" data-aos-duration="700">
    {{ content }}
    </div>

  </article>
  <!-- end page -->
</div>
